<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanInterval="30 seconds">
    <appender name="MainLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.home}/logs/main-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="StdOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="gate" level="INFO"/>
    <root>
        <level value="INFO"/>
        <appender-ref ref="MainLog"/>
        <appender-ref ref="StdOut"/>
    </root>
</configuration>

